#G {color: blue; font-family: cursive; font-size:90px; position: absolute; top: 50%; left: 50%; transform: translate(-575%, -50%);}

#A {color: white; font-family: cursive; font-size:90px; position: absolute; top: 50%; left: 50%; transform: translate(-450%, -50%); }

#M {color: red; font-family: cursive; font-size:90px; position: absolute; top: 50%; left: 50%; transform: translate(-294%, -50%); }

#E {color: #1695DB; font-family: cursive; font-size:90px; position: absolute; top: 50%; left: 50%; transform: translate(-274%, -50%); }

#O {color: yellow; font-family: cursive; font-size:90px; position: absolute; top: 50%; left: 50%; transform: translate(24%, -50%);}

#V {color: red; font-family: cursive; font-size:90px; position: absolute; top: 50%; left: 50%; transform: translate(155%, -50%); }

#E2 {color: white; font-family: cursive; font-size:90px; position: absolute; top: 50%; left: 50%; transform: translate(277%, -50%); }

#R {color: black; font-family: cursive; font-size:90px; position: absolute; top: 50%; left: 50%; transform: translate(400%, -50%);}

body {background-color: teal;

}

