.j-container {display: grid;
    grid-template-areas: "header main aside" "footer footer footer"  ;
   grid-template-columns: 32vh 32vh 32vh;
    grid-template-rows: 22vw;
    position: absolute; top: 143px; left: 403px;

}



h1 {font-family:cursive; position: absolute; top: 47px; left: 403px;}

body {background-color: teal;}
.j-header {grid-area: header; background-color: black;}
.j-main {grid-area: main; background-color: yellow;}
.j-aside {grid-area: aside; background-color: red;}
.j-footer {grid-area: footer;}


#seta {position: absolute; top: 41px; left: 1263px;}

button:hover {background-color: cornflowerblue; cursor: pointer;}
#alemanha {height: 68px; width: 130px; position: absolute; top: 414px; left: 53px; border-radius: 50px; font-family:Arial, Helvetica, sans-serif; border-color: white; }
#belgica {height: 68px; width: 130px; position: absolute; top: 414px; left: 315px; border-radius: 50px; border-color: white; }
#andorra {height: 68px; width: 130px; position: absolute; top: 414px; left: 574px; border-radius: 50px;border-color: white; }